body {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-variation-settings: "width" 100;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#login-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
}

#nino {
    height: 600px;
    margin: 30px;
    display: block;
    padding: 10px;
}

.login-container img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    background-color: #013d86;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    transition: ease 0.3s;
}

.login-container button:hover {
    background-color: #0056b3;
}